header {
    position: absolute;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    background: #171A21;
}
.logo {
    position: absolute;
    left: 3.13%;
    right: 3.12%;
    top: 33%;
    bottom: 16.66%;

}
.exit {
    position: relative;

    left: 1748px;
    right: 153px;
    top: 40%;
    bottom: 40%;

}
.user {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 1659px;
    top: 22px;

    background: rgba(255, 255, 255, 0.54);
    border-radius: 5px;
}
.headache {
    position: absolute;
    width: 39px;
    height: 22px;
    left: 1098px;
    top: 38px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #ECEFF4;
}
.sitename {
    position: absolute;
    width: 64px;
    height: 44px;
    left: 144px;
    top: 28px;

    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    color: #FFFFFF;

}
.headache1 {
    position: absolute;
    width: 65px;
    height: 22px;
    left: 1194px;
    top: 38px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: rgba(236, 239, 244, 0.4);
}
.headache2 {
    position: absolute;
    width: 145px;
    height: 22px;
    left: 1315px;
    top: 38px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: rgba(236, 239, 244, 0.4);
}
.headache3 {
    position: absolute;
    width: 90px;
    height: 22px;
    left: 1510px;
    top: 38px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: rgba(236, 239, 244, 0.4);

}
.search {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    width: 297px;
    height: 48px;
    left: 228px;
    top: 26px;

    background: #0D1017;
    border-radius: 5px;
}
body {
    display: flex;
    background-color: #444444;
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-family: Arial;
}

.searchgame {
    position: absolute;
    width: 74px;
    height: 16px;
    left: 16px;
    top: 16px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    color: rgba(255, 255, 255, 0.2);
}

.exitname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;

    position: absolute;
    width: 112px;
    height: 56px;
    left: 1731px;
    top: 22px;

    border: 0.5px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
}
.exitbutton {
    position: absolute;
    width: 48px;
    height: 16px;
    left: 48px;
    top: 20px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    color: rgba(255, 255, 255, 0.5);
}
.nameofsection {
    position: absolute;
    width: 249px;
    height: 48px;
    left: 82px;
    top: 153px;

    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */
    color: #ECEFF4;
}
.lookall {
    position: absolute;
    width: 158px;
    height: 48px;
    left: 1697px;
    top: 153px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    /* identical to box height, or 200% */
}
#rectangle{
    position: absolute;
    width: 860.11px;
    height: 396.98px;
    left: 80px;
    top: 233px;

    background: #0D1017;
    border-radius: 8px;
}
#rectangle2{
    position: absolute;
    width: 870px;
    height: 397px;
    left: 985px;
    top: 233px;

    background: url("Без названия (2) 1.png");
    border-radius: 8.01841px;
}
#rectangle3{
    position: absolute;
    width: 867.69px;
    height: 400.62px;
    left: 80px;
    top: 671px;

    background: url("image 66.png");
    border-radius: 8px;
}
#rectangle4{
    position: absolute;
    width: 867.69px;
    height: 400.62px;
    left: 985px;
    top: 671px;

    background: url("Фон TES.png");
    border-radius: 8px;
}
footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1920px;
    height: 129px;
    left: 0px;
    top: 1125px;

    background: #0D1017;
}
.sitenamebottom {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    /* or 27px */
    color: #FFFFFF;
}
.borderlands {
    display: flex;
    opacity: 0.9;
    width: inherit;
    height: inherit;
}
.smallrec {
    position: absolute;
    width: 369px;
    height: 175px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(10.3636px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 7.90909px;
}
.nameofgame {
    position: absolute;
    width: 321px;
    height: 48px;
    right: 25px;
    bottom: 65px;

    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 47px;
    /* identical to box height, or 99% */

    text-align: center;

    color: #ECEFF4;
}
.cost {
    position: absolute;
    width: 66px;
    height: 25px;
    right: 10px;
    bottom: 10px;

    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */
    color: #ECEFF4;
}
